---
import '@/styles/global.css'
import Response from "@/components/Response.astro";
import Layout from "@/layout/Layout.astro"
import getTopicById from '@/services/getTopicById';
import getResponsesById from '@/services/getResponsesById';
import Title from '@/components/Title.astro';

const {topicId} = Astro.params
console.log(topicId)

const Responses = await getResponsesById({id: topicId})
console.log(Responses)

const Topic = await getTopicById({topicId: topicId})
console.log(Topic)


---

<Layout>
    <Title HaveBorder={false}>{Topic.title}</Title>
    <div class="user-profile">
        <img class="image" src={Topic.author_image} alt={Topic.author_username} />
        <div class="user-info">
            <p class="author_username">@{Topic.author_username}</p>
            <p class="author_name">Tobias Bersia</p>
        </div>
    </div>
    <p class="topic-content">{Topic.content}</p>

    { 
    Responses.map((response: any)=> (
    <Response 
    imageSrc={response.author_image} 
    username={response.author_username}  
    content={response.content}  
    quote='0' />
    ))
    }
</Layout>
<style>
        .image {
            border-radius: 100%;
            border: 4px solid var(--primary);
            grid-area: image;
            height: 100px;
            aspect-ratio: 1 / 1;
        }

        .user-profile{
            display: flex;
            align-items: center;
            margin-bottom: 22px;
            
        }
        .user-info{
            margin-left: 12px;
            text-align: left;
        }
        .author_username{
            color: var(--primary);
            font-size: 24px;
            width: 100%;
        }

        .author_name{
            color: var(--primary);
            font-size: 24px;
        }

        .topic-content{
            min-height: ;
        }

</style>