---

const { title, url, authors, date, description, frontImage } = Astro.props;
---

<a id="post" href={url}>
  <imagePost id="imagePost" class="[grid-area:imagePost]">
    <img class="imagePost-image" src={`../../${frontImage}`} alt={title} />
  </imagePost>

  <headPost id="headPost" class="[grid-area:headPost]">
    <h1 style="font-size: 16px;" class="text-left title">{title}</h1>
    <p class="text-left posted">Posted by {authors} on {date}</p>
  </headPost>

  <descriptionPost id="descriptionPost" class="[grid-area:descriptionPost]">
    <p class="text-left truncated-text">{description}</p>
  </descriptionPost>

</a>

<style>
#post {
    display: grid;
    grid-template-areas:
      "imagePost headPost"
      "imagePost descriptionPost";
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    border-radius: 12px;
    padding: 8px;
    width: 100%;
    height: 120px;
    background-color: var(--secondary);
    transition: transform 0.3s ease-in-out; /* Agregada transición en el hover */
    color: var(--accent);
    overflow: hidden;
  }
 .title{
  height: 24px;
  overflow: hidden;
 }

  #descriptionPost {
    font-size: 14px;
    overflow: hidden;
    height: 60px;
  }

  .posted{
    overflow: hidden;
    height: 24px;
    border-bottom: 1px solid var(--gray);
  }

  #post:hover {
    transform: scale(1.04);
  }


 .truncated-text{
  height: 42px;
  overflow: hidden;
 
 }
 
  #imagePost {
    position: relative;
    top: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
  }

  .imagePost-image {
    border-radius: 6px;
    height: 86px;
    width: 86px;
    border: 4px solid var(--accent);
  }

  .text-left {
    margin-left: 8px;
    text-align: left;
    font-size: 14px;
  }
/*
  @media only screen and (max-width: 440px) {
    #headPost {
      overflow: hidden;
    }
    #post {
      grid-template-areas:
        "imagePost headPost"
        "descriptionPost descriptionPost";
      grid-template-columns: 30% 70%;
      grid-template-rows: 64% 36%;
      height: 220px;
    }
    #imagePost {
      border-bottom: 1px solid black;
    }
  }
  */
</style>
