---
import '@/styles/global.css'
import Comments from '@/icons/Comments.astro';
import getTimeElapsed from '@/services/getTimeElapsed';

const { title, url, authors, creation_time, response_count, frontImage } = Astro.props;

    const timeElapsed = getTimeElapsed(creation_time)
---
<div class="container">
<a href={url} >
    <img class="image" src={frontImage} alt={title} />
    <h1 class="title margin-left">{title}</h1>
    <p class="last-reply margin-left">Created by @{authors} {timeElapsed} ago</p>
    <p class="comments-quantity margin-left">{response_count} Comments</p>
    <div class="comments-button"><Comments/></div>
</a>
</div>
<style>
    .container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        .container > a {
            border-radius: 12px;
            display: grid;
            grid-template-areas:
                "image title title"
                "image last-reply last-reply"
                "image comments-quantity comments-button";
            grid-template-columns: 94px auto;
            grid-template-rows: 31px;
            grid-gap: 5px;
            background-color: #f9f9f9;
            padding: 10px;
            text-decoration: none;
            color: #333;
            max-width: 680px;
            background-color: var(--secondary);
            color: var(--accent);
            text-align: left;

        }

        .container > a > img {
            max-width: 100%;
            height: auto;
        }

        .image {
            border-radius: 100%;
            border: 4px solid var(--accent);
            grid-area: image;
            height: 100%;
            aspect-ratio: 1 / 1;
        }

        .title {
            min-width: 280px;
            overflow: hidden;
            grid-area: title;
            font-size: 18px;
            color: var(--accent) !important;
        }

        .last-reply {
            overflow: hidden;
            font-size: 14px;
            grid-area: last-reply;
        }

        .comments-quantity {
            grid-area: comments-quantity;
        }

        .comments-button {
            display: flex;
            grid-area: comments-button;
            align-items: end;
            flex-direction: column;

        }
        .margin-left{
            margin-left: 8px;
        }
</style>
